


body{
    margin:0;
}

.header-menu{
    display:inline;
    list-style:none;
    float:right;
    padding-top: 6px;
}

.text-menu, .dropdown {
    display: inline;
    cursor: pointer;
}

a{
    text-decoration:none;
    color: #000000;
}

a:visited { text-decoration: none; color:#000000; }
a:hover { text-decoration: none; color:#2f8f06; }
a:focus { text-decoration: none; color:#2f8f06; }
a:hover, a:active { text-decoration: none; color:#2f8f06 }
li:hover {
    background: #fff;
}

.text-menu, #myBtn {
    font-family:Alegreya SC;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #000000;
    text-align:center;
    padding-left:15px;
    padding-right:15px;
}

.header {
    border-style:none;
}

.logo {
    margin: auto;

}

.first-photo{
width: 100%;
height: 100%;
border:none;
background-size: cover;
margin: auto;
}

.image-container {
    position: relative;
    color: white;
    display: block;
}


.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align:center;
	padding-bottom:330px;
}
.title{
	font-size:55;
	font-weight:500;
	font-family:Alegreya SC;
	line-height:0.1;
	text-shadow:2px 2px 8px black;
	margin-bottom:35px;
	padding-top:-40px;
	
}
.below-title{
	font-size:19;
	font-weight:400;
	text-shadow:2px 2px 10 black;
}
.images-homepage {
    padding: 50px 50px 50px 50px;
    max-width: 700px;
    display: inherit;
}

.images-homepage:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}

#img1-home{
    margin-top: 50px;
    margin-right: auto;
    margin-left: 100px;
}

#img2-home{
    margin-left: auto;
    margin-right: auto;
}

#img3-home{
    margin-left: auto;
    margin-right: 100px;
}

#img4-home{
    margin-left:auto;
    margin-right:auto;
}

.text-block {
    position: absolute;
    display: inherit;
    background-color: white;
    color: black;
    border: 1px solid #2f8f06;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
	max-width:400px;
	text-align:justify;
	line-height:1.5;

}

#text1-home {
    bottom:150px;
    left:800px;
    opacity: 0.9;

}

#text2-home {
    bottom:100px;
    left:1000px;
    opacity: 0.9;

}

#text3-home {
    bottom:130px;
    right:800px;
    opacity: 0.9;

}

#text4-home {
    bottom:100px;
	/*left:1000px;*/
    left:150px;
    opacity: 0.9;

}

.mai-mult-link{
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: inherit;
    border: 1px solid #2f8f06;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	font-family:Alegreya SC;
    text-transform: uppercase;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    /*top:78px;*/
	top:60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1; color:#2f8f06;}

.dropdown:hover .dropdown-content {
    display: block;
}


#go-to-top {
    text-align: right;
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99;
    background-color: #D3D3D3;
    color: black; 
    cursor: pointer; 
    padding: 10px;
    border-radius: 10px; 
    opacity: 0.8;
}

#go-to-top:hover{
    background-color: #2f8f06;
    opacity: 0.8;
}
.empty{
	background-color:white;
}
.empty:hover{
	background-color:white !important;
}

.images{
	background: url("images/concrete_seamless.png") fixed center;
	padding-top:1px;
}
#footer {
width: 100%;
height:45px;
background-color: black;
font-size:14px;
padding-top:30px;
}
.footer-icon{
	padding-left:10px;
	height:20px;
	width:20px;
	padding-right:15px;
	
	
}
.footer-menu{
    font-family:Alegreya SC;
    text-transform: uppercase;
	color:white;
    text-align:center;
    padding-left:20px;
    padding-right:10px;
}
.footer-text{
	font-family:Alegreya SC;
    text-transform: uppercase;
	color:white;
	
}
.footer-text2{
	font-family:Alegreya SC;
	text-transform:uppercase;
	color: #2f8f06;
	padding-right:30px;
}
.footer-text3{
	font-family:Alegreya SC;
	color: white;
	padding-left:50px;
}
#data{
    color:white;
}

/* formular login  */

input[type=text]#username, input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


#login_button {
    background-color: #2f8f06;
    opacity: 0.8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login_button:hover {
    opacity: 0.6;
}

/* Extra styles for the cancel button */
.cancelbtn {
    border: none;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.login_container {
    padding: 16px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#closebtn_container {
    text-align: center;
    margin-bottom: 15px; 
    position: relative;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 5px;
    top: -10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    float: right;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
#nav{
	width:20%;
}

* {box-sizing:border-box}

/* Slideshow container */
.mySlides1, .mySlides2, .mySlides3 {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 450px;
  position: relative;
  margin:auto;
}
.slideshow{
  padding-top:68px;
  padding-bottom:30px;
}
.cafenele{
  background: url("images/cafenele/background.jpg") fixed center;
  background-repeat:no-repeat;
  background-size:cover;
}
.restaurante{
  background: url("images/restaurante/background.jpg") fixed center;
  background-repeat:no-repeat;
  background-size:cover;
}
.slideshow-container_cluburi {
  max-width: 600px;
  position: relative;
  margin:auto;
}
.cluburi{
  background: url("images/cluburi/background.jpg") fixed center;
  background-repeat:no-repeat;
  background-size:cover;
}
.diverse{  
background: url("images/diverse/background.jpg") fixed center;
  background-repeat:no-repeat;
  background-size:cover;
}

.campus{
  background: url("images/concrete_seamless.png") fixed center;
}
/* Hide the images by default */
.mySlides {
    display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  size:16px;
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#campusTable{
  width: 100%;
}

#campusTable td{
  height: 100%;
  width: 50%;
}

#mapComplexMancare, #mapComplexInvat, #mapComplexRelaxare{
  border-style: solid;
  border-color: #FFF;
  border-width: 5px;
  margin: 10px;
}

#uniTable{
  width: 100%;
}

#uniTable td{
  height: 100%;
  width: 50%;
}

#mapUVT, #mapUPT, #mapUSAMVB, #mapUMFT{
  border-style: solid;
  border-color: #FFF;
  border-width: 5px;
  margin: 10px;
}

/* style map traseu */

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel {
        /*position: absolute;
        top:100px;
        right: 1%;
        z-index: 5; */
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }

      #right-panel {
        height: 100%;
        width: 390px;
	display: none;
        float: right;
        overflow: auto;
      }
      
      #map_traseu {
        margin-right: 400px;
      }
      #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }

      @media print {
        #map_traseu {
          height: 500px;
          margin: 0;
	  }
        #right-panel {
          float: none;
          width: auto;
		}
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
	border-radius:20px;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#myBtn{
	background-color:#fefefe;
	border-width:2px;
	border-radius:20px;
	border-color:#2f8f06 ;
	cursor: pointer;
	font-size:15;
	
}
#myBtn:hover{
	color:#2f8f06;
}
.despre_title{
	background: url("images/despre/despre_titlu.jpg") center;
	font-size:32;
	color:#fefefe;
	text-shadow: 2px 2px 4px #000000;
	text-align:center;
	padding-top:40px;
	padding-bottom:60px;
}
.istorie_title{
	background: url("images/istorie/istorie_titlu.png") center;
	font-size:32;
	color:#fefefe;
	text-shadow: 2px 2px 4px #000000;
	text-align:center;
	padding-top:40px;
	padding-bottom:60px;

}
.content_text{
	text-indent:50px;
	line-height:1.6;
	font-size:17;
	margin-right:20px;
	margin-left:20px;
	margin-top:40px;
	font-family:Alegreya;
	
}
.despre_divider1{
	background: url("images/despre/divider1.jpg") fixed center;
	background-repeat:no-repeat;
	background-size:100% ;
	padding-top:80px;
	padding-bottom:100px;
	
}
.facts{
	margin-top:30px;
	margin-bottom:30px;
}
.despre_divider2{
	background: url("images/despre/divider2.jpg") fixed center;
	background-repeat:no-repeat;
	background-size:100%;
	padding-top:80px;
	padding-bottom:100px;
	margin-top:20px;
}
.interesting-facts{
 padding-right:50px;
	padding-left:50px;
	
}
.fact-table{
	 margin: auto;
	 padding-right:200px;
	padding-left:200px;
	text-align:center;
}


.interesting-facts-text{
	padding-right:50px;
	padding-bottom:70px;
	padding-left:50px;
	
}

.despre_divider3{
	background: url("images/despre/harta.png") center;
	background-repeat:no-repeat;
	background-size:100%;
	padding-top:300px;
	padding-bottom:150px;
}

.istorie_before1{
	padding-right:50px;
	padding-left:400px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/ancora_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before1:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/ancora_before.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}

.istorie_before2{
	padding-right:50px;
	padding-left:350px;
	padding-top:250px;
	padding-bottom:30px;
	background: url("images/istorie/biserica_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before2:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:250px;
	padding-bottom:30px;
	background: url("images/istorie/biserica_before.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}

.istorie_before3{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/biserica2_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before3:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/biserica2_before.jpeg") center;
	background-repeat:no-repeat;
	background-size:100%;

}

.istorie_before4{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/traian_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before4:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/traian_before.jpeg") center;
	background-repeat:no-repeat;
	background-size:100%;

}

.istorie_before4{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/traian2_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before4:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/traian2_before.jpeg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before5{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/pompieri_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before5:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/pompieri_before.jpeg") center;
	background-repeat:no-repeat;
	background-size:100%;

}

.istorie_before6{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/parc_after.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.istorie_before6:hover{
	padding-right:50px;
	padding-left:350px;
	padding-top:220px;
	padding-bottom:30px;
	background: url("images/istorie/parc_before.jpeg") center;
	background-repeat:no-repeat;
	background-size:100%;

}
.history-table{
	border-spacing: 35px 60px;
	text-align:center;
}
.choose_background{
	background: url("images/img1_dark.jpg") center;
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
}
.atractii_table{
	margin: auto;
	text-align:center;
	padding-top:35px;
}
.textbelow{
	text-align:center;
	margin-bottom:50px;
	opacity: 0.8;
	font-family:Alegreya SC;
    font-weight: 300;
	margin-top:10px;
	background-color: rgba(47, 143, 6,0.5);
	border:none;
	border-radius:20px;
	font-size:16px;
	padding:5px;
}
.distractie_table{
	margin: auto;
	text-align:center;
	border-spacing: 50px 30px;
	padding-top:60px;
}

#unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*admin dashboard*/

#dashboard_content{
  width: 100%;
  background-image: url("images/img1_dark.jpg");
  color:#FFF;
}

#dashboard_content h1{
  padding: 2.0em 30% 0em 10%;
  opacity: 0.9;
}

#dashboard_table{
  width: 100%;
  color:#FFF;
  opacity: 0.9;
  padding: 5px 0 20px 0;
}

#dashboard_table tr td{
  color:#FFF;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.1);
  padding: 20px 50% 20px 20%;
  font-size: 25;
  line-break:1.5;
}

#dashboard_table tr td:hover{
  background-color: rgba(128, 128, 128, 0.6);
  font-size: 30;
}

#dashboard_table tr td a{
  color:#FFF;
}

#logged_user{
  color: #2f8f06;
}

/*end dashboard style */

/*blog style*/

#content{
  width: 100%;
  height: 100%;
  background-image: url("images/concrete_seamless.png");
}

#table{
  width: 100%;
  background-image: url("images/concrete_seamless.png");
  padding:10px;
}

#table tr td#main form input[type=text], input[type=date], textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#table tr td#main form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

#table tr td#main form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#table tr td#main form input[type=submit]:hover {
    background-color: #45a049;
}

form{
  width: 100%;
}


select#start, select#end{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

/*end style blog and admin area */

